.card {
    justify-content: center;
    border-radius: 2%;
    padding: 2%;
    border-color: black;
}
  
/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
    padding-left: 28%;
}

.details {
    text-align: center;
    
}